*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: poppins, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body
{
    min-height: 100vh;
    background-image: url(pexels-ian-panelo-8858714.jpg) no-repeat
    center center/cover;
    
}


span
{
   background: linear-gradient(90deg, rgb(23, 78, 78), rgb(29, 223, 223));
   -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.navbar 
{
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    position:sticky;
    height:80px;
    width:100%;
    background: transparent;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    z-index: 999;
}

.navbar-container
{
    display: flex;
    align-items:center;
    justify-content: space-between;
    width: 100%;
    font-weight: 500;
    padding: 0 2rem;
    max-width: 1600px;
}
.logo {
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.navbar-container .navbar-menu
{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 1.5rem;
}
.navbar-container .navbar-menu li a
{
    color: #f2f2f2;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 500;
    padding: 3px 20px;
    transition: 0.3s ease-in-out;
    white-space: nowrap;
}

.navbar-container .navbar-menu li a:hover,
.navbar-container .navbar-menu li a.active
{
    color: rgb(25, 139, 139);
    border-bottom: 2px solid rgb(25, 139, 139);
}
.navbar-toggle{
    display:none;
    padding:10px;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 9999;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

@media(max-width: 880px){
    .navbar{
        backdrop-filter: none;
    }
    .navbar-container .navbar-menu{
        display: none;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.7rem !important;
        position: absolute;
        height: 100vh;
        width: 250px;
        top: 0;
        right:0;
        padding: 5rem 1.5rem;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(10px);
    }
    .navbar-container .navbar-menu.active{
        display: flex;
    }
    .navbar-toggle{
        display: block;
        z-index: 999;

    }
    .navbar-toggle.active .bar:nth-child(2){
        opacity: 0;
    }
    .navbar-toggle.active .bar:nth-child(1){
        transform: rotate(45deg) translate(8px);
    }
    .navbar-toggle.active .bar:nth-child(3){
        transform: rotate(-45deg) translate(-8px);
    }
}
@media(max-width: 480px){
    .navbar-container{
        padding: 0 1rem;
    }
    .navbar-logo {
        font-size: 1.7rem;
    }

    .navbar-container .navbar-menu  a {
        font-size: 1.2rem;
        padding: 3px 15px;
    }
}

#home
{
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url(pexels-ian-panelo-8858714.jpg);
    display:flex;
    justify-content: space-between;
    background-size: cover;
    background-position:center;
    align-items: center;
    padding:70px 10% 0;
    gap: 15rem;
}

.home-details
{
    width: 50%;
    color: #fff;
    display: flex;
    flex-direction: column;
    text-align: right;
}

.home-details h3
{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 1.5rem;
    line-height: 1;
}

.home-details h1
{
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
}

.home-details p{
    font-size: 16px;
    margin: 10px 0 25px;
    letter-spacing: 2px;
    position: fixed;
}

.home-img img
{
    background-color: burlywood;
    width: 32vw;
    box-shadow: 0 0 25px rgba(25, 139, 139);
    transition: 0.3s ease-in-out;
}

.home-img img:hover
{
    box-shadow: 0 0 25px rgba(25, 139, 139),
    0 0 50px rgba(25, 139, 139),
    0 0 100px rgba(25, 139, 139);
}

.home-sci a 
{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border: 2px solid rgb(25, 139, 139);
    width: 40px;
    border-radius: 50%;
    font-size: 20px;
    color: aqua;
    background: transparent;
    margin: 30px 15px 10px 0;
    text-decoration: none;
}

.home-sci a:hover
{
    background: rgb(25, 139, 139);
    color: aqua;
    box-shadow: 0 0 20px rgba(25, 139, 139, 0.5);
}

.btn-box 
{
    display: inline-block;
    padding: 12px 28px;
    background: aqua;
    border-radius: 40px;
    font-size: 16px;
    color:rgba(25, 139, 139, 0.5);
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
}

.btn-box:hover
{
    color: rgb(25, 139, 139);
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan 0 0 58px cyan,
    0 0 100px cyan 0 0 200px cyan,
}

.text-animation{
     font-size: 32px;
     font-weight: 600;
     min-width: 280px;
}

.text-animation span{
    position: relative;
}

.text-animation span::before{
    content: "An Article Writer";
    color: rgb(26, 24, 24);
    animation:words 20s infinite;
}

.text-animation span::after{
    content: "";
    background-color: rgb(37, 36, 36);
    backdrop-filter: blur;
    position: absolute;
    width:calc(100% + 8px);
    height: 100%;
    border-left: 3px solid rgb(24, 163, 163);
    right: -8px;
    animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor{
    to{
        border-left: 2px solid rgb(26, 24, 24);
    }
}

@keyframes words{
    0%,
    55%{
    content: "A Frontend Designer";
}
    56%,
    100%{
        content: "An Article Writer";
    }
}

@keyframes typing{
    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95%{
        width: 0;
    }
    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85%{
        width: calc(100% + 8px);
    }
}
@keyframes html{
    0%{
        width: 0;
    }
    100%{
        width: 70%;
    }
}
@keyframes css{
    0%{
        width: 0;
    }
    100%{
        width: 45%;
    }
}
@keyframes python{
    0%{
        width: 0;
    }
    100%{
        width: 40%;
    }
}
@keyframes sql{
    0%{
        width: 0;
    }
    100%{
        width: 30%;
    }
}

section
{
    color: #fff;
    min-height: 100vh;
    padding: 10rem 12%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#about
{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    background-color: rgb(26, 24, 24);
}

.about-img img
{
    width: 32vw;
    box-shadow: 0 0 25px rgba(25, 139, 139);
    transition: 0.4s ease-in-out;
}

.about-img img:hover
{
    box-shadow: 0 0 25px rgb(24, 163, 163),
    0 0 50px rgba(24, 163, 139),
    0 0 100px rgba(24, 163, 139);
}

.about-content h2
{
    font-size: 20px;
    text-align: left;
}

.about-content p
{
    font-size: 15px;
    position: relative;
}

#about-content .btn
{  
    margin: 3rem 0;
}

::-webkit-scrollbar
{
    width: 11px;
}

::-webkit-scrollbar-thumb
{
    background-color:rgb(29, 223, 223);
}

::-webkit-scrollbar-track
{
    background-color: rgb(26, 24, 24);
}

.heading{
    font-size: 8rem;
    text-align: center;
    margin: 5rem 0;
}

#education{
    padding: 100px 15px;
    background-color: rgb(26, 24, 24);
    
}

.education h2{
    margin-bottom: 5rem;
    font-size: 50px;
}

.timeline-items{
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.timeline-items::before{
    content: "";
    position: relative;
    width: 5px;
    height: 100%;
    background-color: rgb(26, 24, 24);
    left: calc(50% - 1px);
}

.timeline-item{
    margin-bottom: 40px;
    width: 100%;
    position: relative;
}

.timeline-items:last-child{
    margin-bottom: 0;
}

.timeline-item:nth-child(odd){
    padding-right: calc(50% + 30px);
}

.timeline-item:nth-child(even){
    padding-left: calc(50% + 30px);
}

.timeline-dot{
    height: 21px;
    width: 21px;
    background-color: rgb(29, 223, 223);
    box-shadow: 0 0 25px rgb(24, 163, 163),
                0 0 25px rgb(29, 223, 223);
    position: absolute;
    left: calc(50% - 8px);
    border-radius: 50%;
    top: 10px;

}

.timeline-date{
    font-size: 20px;
    font-weight: 800;
    color:#f2f2f2;
    margin: 6px 0 15px;
}

.timeline-content{
    background-color: rgb(26, 24, 24);
    border: 3px solid rgb(24, 163, 163);
    padding: 30px 50px; 
    border-radius: 4rem;
    box-shadow: 0 0 10px rgb(24, 163, 163);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.timeline-content:hover{
    transform: scale(1.05);
    box-shadow: 0 0 25px rgb(26, 24, 24);
}

.timeline-content h3{
    font-size: 20px;
    margin: 0 0 10px;
    font-weight: 500;
}

.timeline-content{
    color: aliceblue;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    
}

.skills{
    background: #292e33;
}
.skills-main{
    width: 100%;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 30px;
    grid-column-gap: 50px;
}
.main-text h3{
    text-align: center;
}
.skill-bar{
    margin: 2.3rem;
}
.skill-main h3{
    margin-bottom: 2rem;
    font-size: 25px;
    text-align: center;
}
.skill-left .skill-bar .info{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.skill-left .skill-bar .bar{
    width: 100%;
    height: 10px;
    background-color: rgb(58, 55, 55);
    border-radius: 25px;
    margin-top: 10px;
    position:relative;;
}
.skill-bar .bar span{
    position: absolute;
    width:50%;
    height:100%;
    box-shadow: rgb(29, 223, 223);
    left: 0;
    height: 100%;
    background-color: rgb(24, 163, 163);
    border-radius: 25px;
}

.skill-bar .bar .html{
    width: 70%;
    animation: html 2s;
}
.skill-bar .bar .css{
    width: 45%;
    animation: css 3s;
}
.skill-bar .bar .python{
    width: 40%;
    animation: python 4s;
}
.skill-bar .bar .sql{
    width: 30%;
    animation: sql 5s;
}

.heading{
    text-align: center;
    font-size: 5rem;
    margin: 5rem 0;
}

.projects{
    background-color: rgb(37, 36, 36);
    color: black;
}
.fillter-buttons{
    margin:2rem;
    text-align: center;
}
.fillter-buttons btn{
    font-size: 0.85rem;
    font-weight: 600;
    letter-spacing: 0.40px;
    background: none;
    outline: none;
    color: #f2f2f2;
    border: none;
    cursor: pointer;
    margin-left: 1.3rem;
    transition: 0.4s ease-in-out;
}

.fillter-buttons btn:hover{
    color: rgb(24, 163, 163);
}

.project-gallery{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    gap: 2rem;
    margin-top: 3rem;
}

.projects h2{
    color:#f2f2f2
}
.project-box{
    position:relative;
    display: flex;
    align-items: center;
    background: #292e33;
    grid-template-rows: center;
    border-radius: 15px;
    border:2px solid rgb(24, 163, 163);
    box-shadow: rgb(29, 223, 223);
    overflow:hidden;
    cursor: pointer;
}
.project-image{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.project-image img{
    width: 100%;
    opacity: 0.5s;
    height: 100%;
    transition: 0.5s;
}

.project-content{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0; 
    background: linear-gradient(rgb(24, 163, 163), rgb(29, 223, 223));
    align-items: center;
    display: flex;
    justify-content: center;
    transition: 0.5s;
    text-align: center;
    padding: 0 2rem;
}
.project-box:hover .project-content{
    opacity: 1;
}
.project-box:hover .project-image img{
    transform: scale(1.1);
    opacity: 0.5;
}

.project-content a{
    background:#f2f2f2;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50px;
    border: 1px solid rgb(24, 163, 163);
    outline: 2px solid #f2f2f2;
}
.project-content a i{
    font-size: 1.3rem;
    color: rgb(24, 163, 163);
}

.project-content h4{
    font-size: 1.4rem;
    font-weight: 600;
}

.project-content p{
    font-size: 0.8rem;
    margin: 5px 0 15px 0;
    font-weight: 500;
}


.contact{
    background-color: rgb(26, 24, 24);
}
.contact h2{
    margin-bottom: 3rem;
    color:#f2f2f2
}
.contact form{
    display: flex;
    align-items: center;
    gap: 3rem;
    margin:5rem 0;
    text-align: center;
}

.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 2.5rem;
    font-size: 1.8rem;
    color: #f2f2f2;
    background-color: burlywood;
    border-radius: 2rem;
    border: 2px solid #f2f2f2;
    margin: 1.5rem;
    resize:none
}
.footer{
    background-color: rgb(37, 36, 36);
    padding: 56px 0;
}
.footer .home-sci{
    text-align: center;
}
.footer ul{
    text-align: center;
    font-size: 1.8rem;
}
.footer ul li{
    display: inline-block;
    margin-left: 20px;
}
.footer ul li a{
    color: #f2f2f2;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease-in-out;
}

.footer .copyright{
    text-align: center;
    margin-top: 35px;
    font-size: 16px;
    color: #f2f2f2;
}